{% extends 'base.html' %}

{% block content %}
	<style type="text/css"> 
    h5 {
    color: #FF9595;
    padding-top: 10%;
   }

</style>

  <div>
    <br>
    <br>
    <center><h3>Jargons</h3></center>
    <h5 id="aldente">Al Dente</h5>
    <p>An Italian term used to describe pasta that is cooked but not soggy. It means ‘firm to the bite’.</p>

    <h5 id="bake">Bake</h5>
    <p>Cooking in the oven with dry air. Used for cakes, bread, biscuits, puddings.</p>

    <h5 id="baste">Baste</h5>
    <p>A technique used during roasting meat or poultry where the cooking juices are spooned over the cooking meat. Do this 2–3 times during cooking – it will improve the flavour and moisture of the item you are basting.</p>

    <h5 id="batchcooking">Batch Cooking</h5>
    <p>Cooking food in a large quantity, often so you can save or freeze some extra for another time. It’s an economic way of cooking as it uses less energy and it saves time. Ideal dishes to cook and freeze include stews, bolognese sauce, cottage pies, soups and even bread.</p>

    <h5 id="beat">Beat</h5>
    <p>Mixing vigorously with a fork, whisk, electric mixer or wooden spoon. Beating ingredients together incorporates air and makes them lighter; it can also soften them. Used for cake or biscuit mixtures as well as mashed potato.</p>

    <h5 id="blanch">Blanch</h5>
    <p>Immersing foods in boiling water for a short time. Vegetables such as broccoli or green beans are often blanched then immersed in ice cold water. You can then quickly cook them when required. You can also blanch fruit, such as peaches or tomatoes, to make the skins easier to remove.</p>

    <h5 id="blend">Blend</h5>
    <p>Mixing multiple or single ingredients thoroughly into a smooth paste, liquid or powder. For example, you might blend cooked vegetables together into a soup. </p>

    <h5 id="boil">Boil</h5>
    <p>Cooking in liquid (usually water) that is 100°C and bubbling. Cover ingredients in the boiling liquid to make sure they cook evenly. Used for vegetables, beans, pulses, pasta, rice; when making soup and to reduce some sauces.</p>

    <h5 id="braise">Braise</h5>
    <p>A method of cooking tough cuts of meat and some vegetables. The ingredients are placed in a casserole dish or pan with a lid and only a little liquid. It partly roasts and partly steams the food. You can braise things in the oven or on the hob.</p>

    <h5 id="bringtotheboil">Bring to the boil</h5>
    <p>Bringing a saucepan of liquid, stew, soup or sauce up to 100°C so that it bubbles. Used when starting to cook soups and stews. The heat is then often turned down for the rest of the cooking process.</p>

    <h5 id="caramelise">Caramelise</h5>
    <p>Cooking things gently (on a low heat) and constantly stirring to release the natural sugars in foods such as onions, vegetables and meat. Caramelising foods enhances their flavour, but it’s important not to burn things as they then taste bitter.</p>

    <h5 id="chargrill">Char grill</h5>
    <p>To cook foods in a heavy iron pan on the stove top. Usually there are thick ridges on the pan which give foods a distinctive charred stripe. Used for steaks of meat or fish such as tuna, or for grilling vegetables such as peppers, courgettes and aubergines.</p>

    <h5 id="chop">Chop </h5>
    <p>Cutting ingredients into evenly sized pieces. Use a sharp knife so that ingredients are cleanly sliced and not crushed. (SeeDice.) Usually used on vegetables, tomatoes, salads and fruit.</p>

    <h5 id="chopfinely">Chop finely</h5>
    <p>To cut ingredients into small, even pieces usually no more than ½-cm thick for vegetables or 1–2mm for herbs. Often used when chopping onions or other vegetables such as peppers or mushrooms for a sauce or soup. Also used for fresh herbs like parsley or coriander.</p>

    <h5 id="choproughly">Chop roughly</h5>
    <p>To cut ingredients into small chunks. They don’t need to be really even but should be a similar size – anything from 1cm–2m thick for vegetables and ½ cm for herbs. Used for vegetables and herbs that may be added to stews, pasta, rice dishes, salads.</p>

    <h5 id="cream">Cream</h5>
    <p>Used in baking. To cream butter and sugar together means to beat them with a wooden spoon, whisk or mixer to make them soft and creamy.</p>

    <h5 id="deglaze">Deglaze</h5>
    <p>Adding liquid – wine, water or stock – to a pan which has had meat or fish sautéed in it. Deglazing gets all the cooking juices out of the pan when they are used for making sauces or gravy.</p>

    <h5 id="dice">Dice </h5>
    <p>To cut ingredients into even cubes.  These could be any size from the size of a gaming dice (1½ cm) to ‘finely diced’ which could be anything from 2mm–5mm. Diced vegetables are popular in salsas, sauces, soups and salads.</p>

    <h5 id="dredge">Dredge</h5>
    <p>To sprinkle with flour or sugar. Meat or fish is often dredged with flour before frying, and pastry is usually dredged with flour before rolling it out to stop it sticking to the rolling pin or work surface. Cakes are sometimes dredged with a little icing sugar.</p>

    <h5 id="drizzle">Drizzle</h5>
    <p>To trickle a thin stream of liquid or sauce over a dish, usually just before serving. Typically a small amount is used, and drizzling allows you to spread it evenly over a dish. Salad dressing, honey, olive oil, balsamic vinegar and lemon juice are often used to drizzle over foods just before serving.</p>

    <h5 id="dryfry">Dry fry</h5>
    <p>Cooking something in a frying pan – usually a non-stick pan – with no oil added. This is the perfect method for heating up flat breads such as roti, tortilla and chapatis, toasting seeds or nuts or whole spices. You can also dry fry fatty meats like bacon (but grilled is healthier) or minced meat as there is enough fat in the meat. </p>

    <h5 id="flambe">Flambé</h5>
    <p>Flaming food with a little alcohol, usually just before serving. Pour over a little bit of a spirit or liqueur with at least 37% alcohol, then set on fire. This burns off the alcohol but imparts flavour. Used on Christmas puddings.</p>

    <h5 id="fold">Fold</h5>
    <p>Or folding in is a way of gently mixing two separate mixtures such as beaten egg whites and cake mix. Use a metal spoon to lightly stir the two mixtures together, using an over and under motion. Used for cake mixtures, soufflés and mousses so that they stay light and airy.</p>

    <h5 id="fry">Fry</h5>
    <p>(See alsoDry fry) Cooking in a pan with oil. There are three types of frying:</p>
    <ul>
    <li>Stir frying is the healthiest way to fry, using only a little oil over a high heat. Cut the food into small pieces and stir continuously during cooking. (see Wok)</li>
    <li>Shallow frying is done in a frying pan with only a thin coat of oil on the pan. It is used for fish, vegetables like onions and meat such as steak.</li>
    <li>Deep frying is the least healthy method of frying, when the food you are cooking is completely covered in oil. It is used for food like fish & chips, doughnuts, pakoras and gulab jamun.</li></ul>

    <h5 id="glaze">Glaze</h5>
    <p>Technique to give a shiny, glossy coating to foods. You could glaze pastry or scones by brushing with milk or beaten egg just before baking; or you could glaze roasted meats or vegetables in the last few minutes of cooking by drizzling with a little honey. </p>

    <h5 id="grate">Grate</h5>
    <p>Grating is a way of shredding hard foods using a grater or food processor with the relevant attachment. Foods can be grated coarsely or finely. Grated foods include hard cheeses such as cheddar, vegetables such as carrots and onions for coleslaw, ginger, garlic or fresh coconut, or potatoes to make a rosti.</p>

    <h5 id="grill">Grill</h5>
    <p>Grilling – known as broiling in the USA or a ‘la plancha’ in Spain – is a method of cooking either over or under a dry heat – usually under a high heat. Grill steaks of meat or fish, skewers of fish, meat or vegetables, or cheese on toast. Grilling is also a healthier way to cook sausages and bacon, if you allow the fat to drain away. </p>

    <h5 id="knead">Knead</h5>
    <p>Kneading is a technique used on dough. It can best be described as vigorously massaging the dough. Knead for several minutes to activate the natural gluten, which makes the dough elastic. Bread and pasta dough must be kneaded before shaping. Without kneading bread would be dense, and pasta could not be shaped.</p>

    <h5 id="line">Line</h5>
    <p>Covering a baking tray or cake tin with baking parchment to stop things sticking. This makes it easier to take cakes out of the tin once they are cooked.</p>

    <h5 id="lightlyoil">Lightly oil</h5>
    <p>Spreading a little oil over a baking sheet, oven dish or cake tin before adding ingredients. Rub oil around the dish with kitchen paper, or use spray oil. Adding a little oil will stop things from burning and sticking to the oven dish or tray, and makes them easier to remove when cooked. Used for cakes, breads or for roasting vegetables.</p>

    <h5 id="marinate">Marinate</h5>
    <p>Soaking ingredients such as poultry, meat, fish or tofu in a liquid – the marinade – before cooking. A marinade can both tenderise and add flavour, and is usually made with a liquid such as wine, vinegar or citrus juice, as well as herbs and spices. Things can be marinated for an hour or even overnight.</p>

    <h5 id="par-boil">Par-boil</h5>
    <p>A method of partially cooking vegetables. Roast potatoes or parsnips are usually par-boiled – or part boiled – before roasting.</p>

    <h5 id="peel">Peel</h5>
    <p>To remove the skin or rind from fruit or vegetables. Onions are usually peeled to remove the papery outer layer of skin. Many of the nutrients in fruit and vegetables are found in or just under the skin so some people just wash potatoes, carrots or apples and do not peel them.</p>

    <h5 id="poach">Poach</h5>
    <p>A method of gently cooking ingredients which are just covered in simmering liquid, often flavoured with herbs or spices. Fish is often poached and fruit, such a pears or peaches, can be poached in a light syrup.</p>

    <h5 id="pre-heat">Pre-heat </h5>
    <p>When baking or roasting food in an oven, a recipe may tell you to pre-heat the oven. This means turning on the oven and allowing around 5–10 minutes to get the oven up to the desired temperature before adding the food. Often used for cakes, bread or roast meats. Pre-heating the oven means that the food will start cooking as soon as it is put into the oven making timing more accurate – and it helps cakes to rise.</p>

    <h5 id="pulse">Pulse</h5>
    <p>Describes using short bursts of power in a blender or food processor. If your machine doesn’t have a pulse setting, you can get the same effect by turning the food processor on and off. Used for making pastry or dough, or for salsas or soups if you want to leave pieces of vegetables or herbs and don’t want a totally smooth mixture.</p>

    <h5 id="puree">Purée</h5>
    <p>To mash or blend ingredients into a smooth pulp. Fruits such as raspberries or peaches can be puréed raw to make a sauce. Vegetables such as potatoes and carrot are cooked until soft and then puréed. To get a really smooth purée, ingredients are often pushed through a fine sieve to remove any lumps, skin or seeds.</p>

    <h5 id="reduce">Reduce</h5>
    <p>Boiling liquid to evaporate water, making it more concentrated. Use this technique when making sauces or gravy. For instance, you could use 1 litre of water that vegetables have been cooked in and reduce it down to half a litre to concentrate all the flavours. </p>

    <h5 id="refresh">Refresh</h5>
    <p>A technique sometimes used when cooking vegetables. It simply means plunging cooked vegetables such as broccoli or green beans into cold water to stop them cooking any more. Very useful if you want to put them into salads. </p>

    <h5 id="reheat">Reheat </h5>
    <p>Heating up food that has already been cooked, either in a microwave, oven or in a saucepan. It is important to reheat food carefully as it can lead to food poisoning if not done properly. Here are some golden rules:</p>
    <ol>
      <li>Leftover foods should always be refrigerated as soon as possible and kept chilled until you want to reheat them.</li>
      <li>Food should only ever be reheated once.</li>
      <li>Foods should be heated until piping hot, to at least 75°C (Scottish guidelines state 82°C).</li>
      <li>When reheating in a microwave, always stir the food a couple of times during cooking to make sure there are no cold spots.</li>
      <li>Certain foods such as shellfish, meat or rice are considered high risk. Once cooked they should be chilled as soon as possible, not kept for more than two days and then reheated thoroughly and eaten straight away.</li>
    </ol>

    <h5 id="roast">Roast </h5>
    <p>To cook in an oven for an extended amount of time. Joints or large pieces of meat or poultry are often roasted. Potatoes, root vegetables, onions and bell peppers can all be roasted, too.</p>

    <h5 id="roll">Roll</h5>
    <p>To flatten pastry or dough to an even thickness. Usually done with a rolling pin on a work surface sprinkled with flour. If you don’t have a rolling pin you can use a clean glass bottle.</p>

    <h5 id="rubin">Rub in </h5>
    <p>A method of mixing fat into flour by rubbing the mixture between the finger tips and thumbs. It is used when making some cakes, biscuits and crumble topping.</p>

    <h5 id="saute">Sauté </h5>
    <p>A French word meaning to fry in a little oil over a medium to high heat in a wide bottomed pan or frying pan. (Seeshallow fry.) Slices of boiled potatoes may be sautéed to brown them and create a crispy outside.</p>

    <h5 id="sear">Sear </h5>
    <p>To brown the outside of something in a hot pan, usually meat or fish steaks. Only the outside is cooked to add colour and flavour. The item is then often cooked for longer in the oven or in a casserole.</p>

    <h5 id="sieve">Sieve</h5>
    <p>A sieve is a wire or plastic mesh which comes in different sized meshes, depending on how finely you want to sieve. To sieve describes the action of passing an ingredient through the sieve. Flour is often sieved before mixing into cakes. Sieving removes any lumps but also adds air to the flour making lighter cakes. Liquids like soup or sauces can also be passed through a sieve by pushing them through with the back of a spoon or ladle.</p>

    <h5 id="simmer">Simmer</h5>
    <p>Keeping liquid just below boiling point to gently cook it. Recipes often call for a pan to be brought to boiling point and then the temperature turned down to a gentle simmer. Soups and stews are often simmered and cooked slowly for a couple of hours. Simmering tenderises meats and allows things to cook for a long time without burning.</p>

    <h5 id="slice">Slice</h5>
    <p>To cut into thin broad pieces of even thickness. For example, if you cut a cucumber so the pieces are round and of even thickness, you’re slicing it. If you cut the slices again you would be chopping it.</p>

    <h5 id="soak">Soak</h5>
    <p>To cover in liquid, usually water. Soaking is used to rehydrate dried foods or remove excess salt from cured meat such as uncooked ham. Soak dried beans and pulses such as chickpeas, kidney or borlotti beans, or split peas overnight before cooking. Salt fish must also be soaked before cooking.</p>

    <h5 id="steam">Steam</h5>
    <p>To cook above rapidly boiling water so only the steam cooks the food. Don’t let the food touch the water, and place a lid on the pan to capture the steam. You can buy a specialist steamer or use a Chinese bamboo steamer that fits over a saucepan. Or, a colander or sieve can be placed on top of a saucepan of water and a lid or some foil used to trap the steam. This is one of the healthiest ways to cook vegetables, such as broccoli, and fish.</p>

    <h5 id="stew">Stew</h5>
    <p>A method of long slow cooking when meats and vegetables are cooked in liquid that is just under boiling point, usually for 1–4 hours. This gentle simmering is used to tenderise tough cuts of meat such as oxtail.</p>

    <h5 id="sweat">Sweat</h5>
    <p>Method of cooking vegetables very gently over a low heat with a little oil. The idea is to soften but not brown them. Often done to vegetables such as onions before being added to sauces or stews.</p>

    <h5 id="whisk">Whisk</h5>
    <p>The action of beating air into an ingredient with a metal balloon whisk, electric mixer or a fork. Whisk ingredients such as cream, egg white or cake mixtures to make them grow in volume and to create a light consistency.</p>

    <h5 id="zest">Zest</h5>
    <p>Describes removing the outer layer of peel from a citrus fruit. Take care not to remove the white pith beneath the peel, which tastes bitter. The zest has a concentrated flavour as it contains volatile citrus oils – add it to cakes, sauces and even meat dishes.</p>
    
  </div>
 
{% endblock content %}